body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ebaf0a;
    color:  black;
}

header {
    background-color:  #02770c;
    color: #fff;
    padding: 40px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #02770c;
    color: #fff;
}
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 70px 0;
}
.bike-item img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
.car-item img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
.new-item img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
.buy {
    padding: 20px;
}


form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
}

button {
    background-color: green; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen; 
}
